#song-form, #song-search {
  width: 60%;
  margin: auto;
}

#logo {
  width: 150px;
  height: auto;
}

#titlebar {
  width: 60%;
  margin: auto;
  padding-bottom: 20px;
}

.hidden {
	display: none ;
}
